<!DOCTYPE html>
<button ng-click="newGrid(amount, outline)">Change OutlineWidth<button>
<input type='number' ng-value ="outline" ng-model="outline"></input>
<button ng-click="newGrid(amount, outline)"> NEW GRID :D </button>
<input type='number' ng-value ="amount" ng-model="amount"></input>



<div id="gridContainer" class="pixelGrid_container">



    <!-- ng-init="myStyle={'background-color':'{{pixel.color}}','height':'{{pixel.height}}px','width':'{{pixel.width}}px'}" -->
    <!-- <div id="testing">Hello</div> -->



    <div id="{{pixel.id}}" class="pixel" ng-repeat="pixel in pixels">
        <style ng-if="$even">

        #{{pixel.id}} {
                background-color: #{{pixel.color}};
                height: {{pixel.height}};
                width: {{pixel.width}};
                float: left;
                border: {{pixel.outline}}
        }
        </style>
        <style ng-if="$odd">

        #{{pixel.id}} {
                background-color: #{{pixel.color}};
                height: {{pixel.height}};
                width: {{pixel.width}};
                float: left;
                border: {{pixel.outline}}
        }
        </style>
    </div>


</div>
