<div id="character_container">
    <main ng-view></main>



    <div class="characterSelect">
        <div id="magnetoBox" class="characterSelect_container">
            <a href="#magneto">
                <img border="0" alt="magnetoButton" src="/imgs/magneto.jpeg" width="150" height="150">
            </a>
        </div>

        <div id="stormBox" class="characterSelect_container">
            <a href="#storm">
                <img border="0" alt="stormButton" src="/imgs/storm.jpeg" width="150" height="150">
            </a>
        </div>

        <div id="pyroBox" href="#pyro" class="characterSelect_container">
            <a href=#pyro>
                <img border="0" alt="pyroButton" src="/imgs/pyro.jpeg" width="150" height="150">
            </a>
        </div>
    </div>
</div>
