<div class="characterDisplay_container">
    <div class="characterImage">
        <img class="sickpic" src="{{imgSrc}}" />
    </div>
    <div class="characterBio">
        <h1>Magneto</h1>
        <p>Magneto’s ability to manipulate electromagnetic energies is not merely limited to magnetism and electricity. He has also shown control over most of the electromagnetic spectrum. The electromagnetic spectrum is the collection of various radiations
            that stem from EM energy, having properties of both electricity and magnetism in motion, specifically in varying frequencies of oscillation, or size and speed of waves. These energies are: radio waves, microwaves, terahertz radiation, infrared,
            visible light, ultraviolet, x-rays, and gamma rays. Ergo Magneto can generate or manipulate radio signals, generate heat (Uncanny X-Men #104), sense heat signatures, manipulate light to make himself invisible (Vision and the Scarlet Witch
            miniseires Vol. 1 #4), use UV energy to break chemical bonds (though he usually used his own power over the magnetic fields within atoms to do so), and reflect the x-rays and gamma rays produced by nuclear explosions (X-Men Vol. 2 #1, X-Men
            Vol 2 #86).</p>

    </div>
</div>
