<div class="characterDisplay_container">
    <div class="characterImage">
        <img class="sickpic" src="{{imgSrc}}" />
    </div>
    <div class="characterBio">
        <h1>Pyro</h1>
        <p>Pyro was a mutant with the psionic ability to cause any fire he could see within a 100-yard radius of himself to grow in size and intensity and to take on any form that he could imagine, even living creatures. Pyro could then mentally direct a
            creation to do anything he wished by concentrating, the degree necessary being directly proportionate to the size, power, and intensity of the creation. Pyro was unable to create fire himself.</p>
    </div>
</div>
