<div class="characterDisplay_container">
    <div class="characterImage">
        <img class="sickpic" src="{{imgSrc}}" />
    </div>
    <div class="characterBio">
        <h1>Storm</h1>
        <p>It is commonly misconstrued that Ororo merely just controls the weather, however this is not the case for this powerful mutant. Storm actually has the ability to perceive, sense ,and manipulate multiple forms of energy that relate to weather phenomena.
            These energies include Thermal, Kinetic, Electric, Electromagnetic, Radiant/Luminous, Tidal and Potential energy. All of these factor in the weather conditions of the entire universe. Her powers can be described as a weather based ergokinesis.
            So in short Storm is one extremely powerful energy manipulator. Given the fact that her powers adapt to different environments gives Storm much versatility in power usage.</p>
    </div>
</div>
